<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/addAriticle1.css">
</head>
<body>
<div class="panel">
    <form action="addicon.php" method="post" enctype="multipart/form-data">
            <div class="formgroup">
                <label for="" class="lable">iconname</label>
                <input type="text" name="iconname" placeholder="文章标题">
            </div>
            <div class="formgroup">
                <label for="" class="lable">简述</label>
                <input type="text" name="sketch" placeholder="文章标题">
            </div>
            <div class="formgroup">
                <label for="" class="lable">描述</label>
                <textarea name="description" rows="3">

                    </textarea>
            </div>
            <div class="formgroup">
                <label for="" class="lable">title1</label>
                <input type="text" name="com1" placeholder="公司小记">
            </div>
            <div class="formgroup">
                <label for="" class="lable">title2</label>
                <input type="text" name="com2" placeholder="公司小记">
            </div>
            <div class="formgroup" >
                <label for="" class="lable">介绍</label>
                <textarea name="introduction" rows="3">

                    </textarea>
            </div>
            <input type="file" name="img" value="" class="file">
            <div class="formgroup">
                <input type="submit"  name="sub" class="sub">
            </div>
        </div>
    </form>

</div>
</body>
</html>