<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/addAriticle1.css">
</head>
<body>
<div class="panel">
    <form action="addbanner.php" method="post" enctype="multipart/form-data">
            <div class="formgroup">
                <label for="" class="lable">our company</label>
                <input type="text" name="company" placeholder="文章标题">
            </div>
            <div class="formgroup">
                <label for="" class="lable">banner标题</label>
                <input type="text" name="title" placeholder="文章标题">
            </div>
            <div class="formgroup">
                <label for="" class="lable">begins</label>
                <input type="text" name="begins" placeholder="公司小记">
            </div>
            <div class="formgroup">
                <label for="" class="lable">about</label>
                <input type="text" name="about" placeholder="公司小记">
            </div>
            <input type="file" name="bimg" value="" class="file">
            <div class="formgroup">
                <input type="submit"  name="sub" class="sub">
            </div>
        </div>
    </form>

</div>
</body>
</html>