<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>后台登录系统</title>
</head>
<body>
    <div class="content">
        <form action="login.php" method="post">
            <h3>后台登录系统</h3>
            <div class="formgroup">
                <input type="text" name="user" placeholder="请输入你的用户名">
            </div>
            <div class="formgroup">
                <input type="password" name="pass" placeholder="请输入你的密码">
            </div>
            <div class="formgroup">
                <input type="submit" name="sub" value="提交">
            </div>
        </form>
    </div>
</body>
</html>