<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="../static/img/bg.png" alt="">
        <h3>后台管理系统</h3>
        <a href="/php/index.php">首页</a>
    </div>
    <div class="leftnav">
        <h2>分类操作</h2>
        <ul>
            <li><a href="addCategory.php" target="right">添加分类</a></li>
            <li><a href="showCate.php" target="right">查看</a></li>
        </ul>
        <h2>内容管理</h2>
        <ul>
            <li><a href="addArticle1.php" target="right">添加文章</a></li>
            <li><a href="showArticle.php" target="right">查看文章</a></li>
        </ul>
        <h2>banner管理</h2>
        <ul>
            <li><a href="addbanner.php" target="right">添加banner</a></li>
            <li><a href="showbanner.php" target="right">修改banner</a></li>
        </ul>
        <h2>首页icon管理</h2>
        <ul>
            <li><a href="addicon.php" target="right">添加icon内容</a></li>
            <li><a href="showicon.php" target="right">查看内容</a></li>
        </ul>
    </div>
    <div class="content">
        <iframe src="" frameborder="0" name="right"></iframe>
    </div>
</body>
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/main.js"></script>
</html>