<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/showCate.css">
</head>
<body>
<div class="panel">
    <div class="panelHeader">
        展示分类
    </div>
    <div class="panelContent">
        <table style="width: 96%;">
            <tr>
                <th>banner-id</th>
                <th>公司名称</th>
                <th>banner-title</th>
                <th>begins</th>
                <th>about</th>
                <th>缩略图</th>
                <th>操作</th>
            </tr>
            <tr>
                <?php echo $str;?>
            </tr>
        </table>
    </div>
</div>
</body>
</html>