<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/showCate.css">
</head>
<body>
<div class="panel">
    <div class="panelHeader">
        展示分类
    </div>
    <div class="panelContent">
        <table style="width: 96%;">
            <tr>
                <th>文章id</th>
                <th>文章标题1</th>
                <th>文章标题2</th>
                <th>公司小记</th>
                <th>浏览记录</th>
                <th>内容描述</th>
                <th>缩略图</th>
                <th>父栏目id</th>
                <th>操作</th>
            </tr>
            <tr>
                <?php echo $str;?>
            </tr>
        </table>
    </div>
</div>
</body>
</html>