<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/showCate.css">
</head>
<body>
<div class="panel">
    <div class="panelHeader">
        展示分类
    </div>
    <div class="panelContent">
        <table style="width: 96%;">
            <tr>
                <th>id</th>
                <th>iconname</th>
                <th>简介</th>
                <th>描述</th>
                <th>title1</th>
                <th>title2</th>
                <th>介绍</th>
                <th>缩略图</th>
                <th>操作</th>
            </tr>
            <tr>
                <?php echo $str;?>
            </tr>
        </table>
    </div>
</div>
</body>
</html>