<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/addCategory.css">
</head>
<body>
    <div class="panel">
        <form action="updateCategory.php" method="post">
            <div class="formgroup">
                <label for="">栏目分类</label>
                <select name="pid" id="">
                    <option value="0">一级栏目</option>
                    <?php echo $str;?>
                </select>
            </div>
            <div class="formgroup">
                <label for="">
                    栏目名称
                </label>
                <input type="text" name="cname" value ="<?php echo $cname;?>"placeholder="栏目名称">
            </div>
            <div class="formgroup">
                <!--<label for="">
                    栏目id
                </label>-->
                <input type="hidden" name="cid" value ="<?php echo $cid;?>"placeholder="栏目id" >
            </div>
            <div class="formgroup">
                <input type="submit"  name="sub">
            </div>
        </div>
        </form>

    </div>
</body>
</html>