<!-- 底部 -->
<section class="foot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="foot1">网站地图</div>
                <ul class="foot2">
                    <li>关于全息</li>
                    <li>最新活动</li>
                    <li>全息视频</li>
                    <li>新闻中心</li>
                </ul>
                <ul class="foot3">
                    <li>专卖消息</li>
                    <li>人才招聘</li>
                    <li>网上商城</li>
                    <li>商务采购</li>
                </ul>
                <ul class="foot4">
                    <li>专卖网络</li>
                    <li>全息社区</li>
                    <li>开发者网站</li>
                    <li>会员俱乐部</li>
                </ul>
                <div class="foot5">官方分享</div>
                <div class="foot6">
                    <div class="iconfont icon-facebookicon"></div>
                    <div class="iconfont icon-xiaoniao"></div>
                    <div class="iconfont icon-be"></div>
                    <div class="iconfont icon-qq"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="foot0">
                    <div class="foot7">服务条款</div>
                    <div class="foot8">重要声明</div>
                    <div class="foot9	">隐私政策</div><br/>
                    <div class="foot10">Copyright © 2016.Company name All rights reserved</div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>