<link rel="stylesheet" href="/php/static/css/contact.css">
<main>
    <div class="home">Home <span>首页</span> > Contact<span> 联系我们</span></div>
    <div class="home1"><?php echo $data[0]['title1'];?></div>
    <div class="home2">Contact</div>
    <div class="home3"><?php echo $data[0]['title2'];?></div>
        <?php echo $data[0]['content'];?>
    <div class="home5">
        <img src="<?php echo $data[0]['thumb'];?>" alt="">
    </div>
    <div class="home6">
        <img src="<?php echo $data[1]['thumb'];?>" alt="">
    </div>
    <?php echo $data[1]['content'];?>
    <div class="home8">
        <?php echo $data[2]['content'];?>
    </div>
    <div class="home9">
        <img src="<?php echo $data[2]['thumb'];?>" alt="">
    </div>
</main>
<div class="home10"></div>