<link rel="stylesheet" href="/php/static/css/she.css">
<main>
    <div class="home">Home <span>首页</span> >  Official Community<span> 官方社区</span></div>
    <div class="home1">
        <img src="<?php echo $data1[0]['thumb'];?>" alt="">
    </div>
    <div class="home2">
        <div class="home2-1">
            <img src="<?php echo $data1[1]['thumb'];?>" alt="">
        </div>
        <div class="home2-2">
            <?php echo $data1[1]['content'];?>
        </div>
    </div>
    <div class="home3">
        <div class="home3-1">
            <img src="<?php echo $data1[2]['thumb'];?>" alt="">
        </div>
        <div class="home3-2">
            <?php echo $data1[2]['content'];?>
        </div>
    </div>

    <div class="home4">
        <div class="home4-1">
            <img src="<?php echo $data1[3]['thumb'];?>" alt="">
        </div>
        <div class="home4-2">
            <?php echo $data1[3]['content'];?>
        </div>
    </div>
</main>